div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Aadhaar Report
    p.lead Biometric verification for employees

.container.landing
  .row
    .col-sm-6.center
      .circular.center
        a(href='/home/list') See Aadhaar Report
    .col-sm-6.center
      .circular.center
        a(href='/home/list') File a Report

.container
  .row
    .col-lg-12
      h1.page-header Background
      p The new jobs engine in India is turning out to be on-demand apps which give customers anything they want at the touch of a button. Uber and Ola are giving drivers an opportunity to be self employed; Flipkart and Jabong are sending people to deliver goods like never before; Handy and Zimmber are sending technicians to fix and clear our homes. While there are a lot of jobs being created, there is a serious lack of verification of the newly employed. The rape case with Uber is the absolute worst case. We intend on fixing this problem by using the Aadhaar identifier to report the credibility of any Indian citizen. With Aadhaar Report, we give each Employee a score based on their prior work experience, banking history and criminal records. We will offer companies a single point where the companies can use a biometrically verified system to make sure each of their employees is an asset for the company and not a threat to the customer.


footer.footer
  .container
    p
      | Aadhaar Report
      = ' | '
      a(href='https://twitter.com/akritidokania') @akritidokania
      = ' | '
      a(href='https://twitter.com/codebreach') @codebreach

